{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <h1 class="text-center text-2xl font-bold mb-4">Créer une nouvelle réservation</h1>
<div class="bg-white m-8 p-8 rounded-lg shadow-md">
    {{ include('reservation/_form.html.twig') }}
    </div>

    <a href="{{ path('app_reservation_index') }}" class="text-white hover:text-blue-700">Retour</a>
{% endblock %}
