{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 class="text-center text-2xl font-bold mb-4">Créer un nouvel utilisateur</h1>
    <div class="bg-white m-8 p-8 rounded-lg shadow-md">
        {{ include('user/_form.html.twig') }}
    </div>

    <a href="{{ path('app_user_index') }}" class="text-white hover:text-blue-700">Retour à la liste</a>
{% endblock %}

